*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

header{
    width: 98%;
    border: 2px solid rgb(124, 115, 115);
    size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 5px;
    background-color: #0e4a61;
    color: #131b25;
    padding: 10px 0px;
}

.container{
    width: 98%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid rgb(124, 115, 115);
    border-radius: 10px;
    background-color: #0986ab;
}
.container input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #ace2ee;
    border: transparent;

}
.container .btnH{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: transparent;
    color: #131b25;
}

.habitos{
    justify-content: space-around;
    align-items: center;
}

.habitos p{
    margin: 10px;
}   

.botones{
    display: inline;
    float: right;
    border-radius: 8px;
    
}


