*{
    margin: auto;
    padding: auto;
    box-sizing: border-box; 
}

header{
    border: 2px solid rgb(124, 115, 115);
    size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 5px;
    background-color: #67ad68;
    color: rgb(0, 0, 0);
    padding: 10px 0px;
}

.container{
    width: 98%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid rgb(124, 115, 115);
    border-radius: 10px;
    background-color: #f0f0f0;
}
.habitos{
    justify-content: space-around;
    align-items: center;
}

.habitos p{
    margin: 10px;
}



